# ── WAZUH INDEXER (OpenSearch) ──────────────────
WAZUH_INDEXER_URL=https://localhost:9200
WAZUH_INDEXER_PASSWORD=SecretPassword
WAZUH_READER_USER=soc-backend-reader
WAZUH_READER_PASS=Reader@SOC2025

# ── WAZUH MANAGER API ───────────────────────────
WAZUH_API_URL=https://localhost:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=MyS3cr37P450r.*-

# ── WAZUH DASHBOARD ─────────────────────────────
WAZUH_DASHBOARD_USER=admin
WAZUH_DASHBOARD_PASSWORD=SecretPassword

# ── OLLAMA (LLM local) ──────────────────────────
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=soc-analyst

# ── BACKEND ─────────────────────────────────────
BACKEND_API_KEY=GENERAR_CON_UUID
SPRING_PROFILES_ACTIVE=dev

# ── CTI APIs ────────────────────────────────────
VIRUSTOTAL_API_KEY=OBTENER_EN_virustotal.com
ABUSEIPDB_API_KEY=OBTENER_EN_abuseipdb.com

# ── SOAR (n8n) ──────────────────────────────────
SOAR_WEBHOOK_CRITICA=http://localhost:5678/webhook/CAMBIAR
SOAR_WEBHOOK_FP=http://localhost:5678/webhook/CAMBIAR
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=CAMBIAR_POR_PASSWORD_REAL

# ── WSL2 Ubuntu ─────────────────────────────────
WSL_USER=soc
# WSL_PASSWORD va solo en .env, nunca acá

# ── MODO DE OPERACIÓN ───────────────────────────
SHADOW_MODE=true